.section1 {
    margin: 0;
    padding: 0;
    background: url("../../img/home-background.jpg") repeat space center fixed;
    height: 100%;
    width: 100%;
}

.logo-mohamed {
    display: block;
    width: 14.5%;
    position: relative;
    top: 20%;
    left: 42%;
    text-align: center;
    animation-duration: 2.6s;
    animation-delay: 3.9s;
}

.animated.rubberBand {

    animation-duration: 3s;
    -webkit-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 4.2s;
}

.ecrant-gauche {
    display: block;
    width: 17% !important;
    position: relative;
    top: 39%;
    left: 8%;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    text-align: center;
}

.ecrant-droite {

    display: block;
    width: 17% !important;
    position: relative;
    top: 39%;
    left: 27.35%;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    text-align: center;
}

.clavier {

    display: block;
    width: 16% !important;
    position: relative;
    top: 75%;
    left: -10%;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    text-align: center;

}

.souris {

    display: block;
    width: 4.3% !important;
    position: relative;
    top: 69%;
    left: -7.5%;
    animation-duration: 0.5s;
    animation-delay: 1.3s;
    text-align: center;

}

.block-note {

    display: block;
    width: 10.2% !important;
    position: relative;
    top: 70%;
    left: -3.5%;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    text-align: center;
}

.papier {

    display: block;
    width: 6.7% !important;
    position: relative;
    top: 72%;
    left: -56.5%;
    animation-duration: 0.5s;
    animation-delay: 2.3s;
    text-align: center;
}

.cafe {

    display: block;
    width: 6.4% !important;
    position: relative;
    top: 73%;
    left: -55.5%;
    animation-duration: 0.5s;
    animation-delay: 2.8s;
    text-align: center;
}

.ipad {

    display: block;
    width: 12.4% !important;
    position: relative;
    top: 42%;
    left: -45.5%;
    animation-duration: 0.5s;
    animation-delay: 3.3s;
    text-align: center;
}

@media (min-width: 1950px) {
    .ipad {
        display: none;
    }
}

/* Pour Ecran-Ordinateur-normal*/
@media (max-width: 1700px) {

    .logo-mohamed {
        display: block;
        width: 17.4%;
        position: relative;
        top: 20%;
        left: 42%;
        text-align: center;
        animation-duration: 2.6s;
        animation-delay: 3.9s;
    }

    .animated.rubberBand {

        animation-duration: 3s;
        -webkit-animation-delay: 2.2s;
        -o-animation-delay: 2.2s;
        animation-delay: 4.2s;
    }

    .ecrant-gauche {
        display: block;
        width: 25% !important;
        position: relative;
        top: 38%;
        left: -4%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .ecrant-droite {
        display: block;
        width: 25% !important;
        position: relative;
        top: 39%;
        left: 20%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .clavier {
        display: block;
        width: 25% !important;
        position: relative;
        top: 70%;
        left: -32%;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        text-align: center;
    }

    .souris {
        display: block;
        width: 6.3% !important;
        position: relative;
        top: 75%;
        left: -32.5%;
        animation-duration: 0.5s;
        animation-delay: 1.3s;
        text-align: center;
    }

    .block-note {
        display: block;
        width: 15.2% !important;
        position: relative;
        top: 62%;
        left: 0.5%;
        animation-duration: 0.5s;
        animation-delay: 1.8s;
        text-align: center;
    }

    .papier {
        display: block;
        width: 9.7% !important;
        position: relative;
        top: 40%;
        left: -36.5%;
        animation-duration: 0.5s;
        animation-delay: 2.3s;
        text-align: center;
    }

    .cafe {
        display: block;
        width: 9.4% !important;
        position: relative;
        top: 50%;
        left: -60.5%;
        animation-duration: 0.5s;
        animation-delay: 2.8s;
        text-align: center;
    }

    .ipad {

        display: none;
    }

}

@media (max-width: 1200px) {

    .logo-mohamed {
        display: block;
        width: 27.64%;
        position: relative;
        top: 20%;
        left: 38%;
        text-align: center;
        animation-duration: 2.6s;
        animation-delay: 3.9s;
    }

    .animated.rubberBand {

        animation-duration: 3s;
        -webkit-animation-delay: 2.2s;
        -o-animation-delay: 2.2s;
        animation-delay: 4.2s;
    }

    .ecrant-gauche {
        display: block;
        width: 29% !important;
        position: relative;
        top: 47%;
        left: -3.5%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .ecrant-droite {
        display: block;
        width: 29% !important;
        position: relative;
        top: 47%;
        left: -6.5%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .clavier {
        display: block;
        width: 28% !important;
        position: relative;
        top: 53%;
        left: -5%;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        text-align: center;
    }

    .souris {
        display: block;
        width: 8.3% !important;
        position: relative;
        top: 56%;
        left: -5.5%;
        animation-duration: 0.5s;
        animation-delay: 1.3s;
        text-align: center;
    }

    .block-note {
        display: block;
        width: 18.2% !important;
        position: relative;
        top: 52%;
        left: 0.5%;
        animation-duration: 0.5s;
        animation-delay: 1.8s;
        text-align: center;
    }
    .papier {

        display: none;
    }

    .cafe {
        display: block;
        width: 11.4% !important;
        position: relative;
        top: 49%;
        left: -25.5%;
        animation-duration: 0.5s;
        animation-delay: 2.8s;
        text-align: center;
    }

    .ipad {
        display: none;
    }
}


/* Pour mini-Tablet */
@media (max-width: 800px) {

    .logo-mohamed {
        display: block;
        width: 35%;
        position: relative;
        top: 16%;
        left: 35%;
        text-align: center;
        animation-duration: 2.6s;
        animation-delay: 3.9s;
    }

    .animated.rubberBand {

        animation-duration: 3s;
        -webkit-animation-delay: 2.2s;
        -o-animation-delay: 2.2s;
        animation-delay: 4.2s;
    }

    .ecrant-gauche {
        display: block;
        width: 33% !important;
        position: relative;
        top: 43%;
        left: -23%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .ecrant-droite {
        display: block;
        width: 33% !important;
        position: relative;
        top: 25%;
        left: 25%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .clavier {
        display: block;
        width: 41% !important;
        position: relative;
        top: 35%;
        left: 24%;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        text-align: center;
    }

    .block-note {
        display: block;
        width: 35.2% !important;
        position: relative;
        top: 30%;
        left: 23.5%;
        animation-duration: 0.5s;
        animation-delay: 1.8s;
        text-align: center;
    }

    .cafe {
        display: block;
        width: 13.4% !important;
        position: relative;
        top: 31%;
        left: -66.5%;
        animation-duration: 0.5s;
        animation-delay: 2.8s;
        text-align: center;
    }

    .souris {

        display: none;
    }

    .papier {

        display: none;
    }

    .ipad {

        display: none;
    }

}

/* Landscape phones and down */
@media (max-width: 650px) {

    .logo-mohamed {
        display: block;
        width: 52.5%;
        position: relative;
        top: 11%;
        left: 26%;
        text-align: center;
        animation-duration: 2.6s;
        animation-delay: 2.4s;
    }

    .animated.rubberBand {

        animation-duration: 3s;
        -webkit-animation-delay: 2.2s;
        -o-animation-delay: 2.2s;
        animation-delay: 2.8s;
    }

    .ecrant-droite {

        display: block;
        width: 51% !important;
        position: relative;
        top: 18%;
        left: 26.35%;
        animation-duration: 0.5s;
        animation-delay: 0.3s;
        text-align: center;
    }

    .clavier {

        display: block;
        width: 42% !important;
        position: relative;
        top: 49%;
        left: -24%;
        animation-duration: 0.5s;
        animation-delay: 0.8s;
        text-align: center;

    }

    .souris {

        display: block;
        width: 15.3% !important;
        position: relative;
        top: 40%;
        left: 20.5%;
        animation-duration: 0.5s;
        animation-delay: 1.3s;
        text-align: center;

    }

    .cafe {

        display: block;
        width: 21.4% !important;
        position: relative;
        top: 37%;
        left: -63.5%;
        animation-duration: 0.5s;
        animation-delay: 1.8s;
        text-align: center;
    }

    .ecrant-gauche {
        display: none;
    }

    .ipad {

        display: none;
    }

    .block-note {

        display: none;
    }

    .papier {

        display: none;
    }

}
