.section1{
    margin:0;
    padding:0;
    background: url("../../img/home-background.jpg") no-repeat center fixed;
    height: 100%;
    width: 100%;
}

.logo-mohamed{
    display: block;
    width: 15%;
    position: relative;
    top: 25%;
    left: 43%;
    animation-duration: 4s;
}

.animated.bounceIn.logo-mohamed{

    animation-duration: 2s;
    animation-delay:2s;

}

.animated.rubberBand{

    animation-duration: 2s;
    -webkit-animation-delay:2.2s;
    -o-animation-delay:2.2s;
    animation-delay:2.2s;
}

.ecrant-gauche{
    display: block;
    width: 17% !important;
    position: relative;
    top: 13%;
    left: 17%;
}

.ecrant-droite{

    display: block;
    width: 17% !important;
    position: relative;
    top: 13%;
    left: 49%;
}