.section1 {
    margin: 0;
    padding: 0;
    background: url("../../img/home-background.jpg") no-repeat center fixed;
    height: 100%;
    width: 100%;
}

.logo-mohamed {
    display: block;
    width: 14.5%;
    position: relative;
    top: 20%;
    left: 42%;
    animation-duration: 4s;
    text-align: center;
}

.animated.bounceIn.logo-mohamed {

    animation-duration: 2.6s;
    animation-delay: 3.9s;

}

.animated.rubberBand {

    animation-duration: 3s;
    -webkit-animation-delay: 2.2s;
    -o-animation-delay: 2.2s;
    animation-delay: 4.2s;
}

.ecrant-gauche {
    display: block;
    width: 17% !important;
    position: relative;
    top: 39%;
    left: 8%;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    text-align: center;
}

.ecrant-droite {

    display: block;
    width: 17% !important;
    position: relative;
    top: 39%;
    left: 27.35%;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    text-align: center;
}

.clavier {

    display: block;
    width: 16% !important;
    position: relative;
    top: 75%;
    left: -10%;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    text-align: center;

}

.souris {

    display: block;
    width: 4.3% !important;
    position: relative;
    top: 69%;
    left: -7.5%;
    animation-duration: 0.5s;
    animation-delay: 1.3s;
    text-align: center;

}

.block-note {

    display: block;
    width: 10.2% !important;
    position: relative;
    top: 70%;
    left: -3.5%;
    animation-duration: 0.5s;
    animation-delay: 1.8s;
    text-align: center;
}

.papier {

    display: block;
    width: 6.7% !important;
    position: relative;
    top: 70%;
    left: -56.5%;
    animation-duration: 0.5s;
    animation-delay: 2.3s;
    text-align: center;
}

.cafe {

    display: block;
    width: 6.4% !important;
    position: relative;
    top: 71%;
    left: -55.5%;
    animation-duration: 0.5s;
    animation-delay: 2.8s;
    text-align: center;
}

.ipad {

    display: block;
    width: 12.4% !important;
    position: relative;
    top: 42%;
    left: -45.5%;
    animation-duration: 0.5s;
    animation-delay: 3.3s;
    text-align: center;
}